.link-white-no-decor {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.sub-title {
    color: #1499ef;
    font-weight: bolder;
    text-shadow: black 2px 2px 2px;
}

.font {
    font-family: American Typewriter, serif	;
    font-size: larger;
}

.background-image {
    background: url(./assets/bucket.jpg);
    background-size: cover;
    /* width: 100vw;
    height: 100vh; */
}

.font-weight-bold {
    font-weight: bolder;
}