.link-white-no-decor {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.sub-title {
    color: #1499ef;
    font-weight: bolder;
    text-shadow: black 2px 2px 2px;
}

.font {
    font-family: American Typewriter, serif	;
    font-size: larger;
}

.background-image {
    background: url(./assets/bucket.jpg);
    background-size: cover;
    /* width: 100vw;
    height: fit-content; */
}

.font-weight-bold {
    font-weight: bolder;
}

.bucket-position {
    position: relative;
}

.bucket-text-position {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}